<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insurance.Insurance_spring.mapper.ContractMapper">
    <select id="findByID" resultType="com.insurance.Insurance_spring.domain.contract.Contract">
        SELECT * FROM Contract WHERE contract.customerID = #{customerID} and contract.insuranceID is not null
    </select>

    <select id="findAll" resultType="com.insurance.Insurance_spring.domain.contract.Contract">
        select * from contract inner join customer using(customerID) inner join insurance using(insuranceID) inner join pcustomer using(pcustomerID)
    </select>

    <insert id="create" parameterType="HashMap">
        insert into contract ( startDate, price, endDate, customerID, insuranceID, insuranceRatio ) values ( #{contract.startDate}, #{contract.price}, #{contract.endDate}, #{customerID}, #{insuranceID}, #{contract.insuranceRatio})
    </insert>
</mapper>
