<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insurance.Insurance_spring.mapper.CustomerMapper">
    <select id="retrieve" resultType="com.insurance.Insurance_spring.domain.customer.Customer">
        SELECT * FROM customer INNER JOIN pcustomer ON customer.pcustomerID = pcustomer.pcustomerID
    </select>

    <select id="retrieveByID" resultType="com.insurance.Insurance_spring.domain.customer.Customer">
        SELECT * FROM customer WHERE customerID = #{customerID} LIMIT 1
    </select>

    <select id="retrieveByInfo" resultType="com.insurance.Insurance_spring.domain.customer.Customer">
        SELECT * FROM customer INNER JOIN pcustomer ON customer.pcustomerID = pcustomer.pcustomerID
        WHERE pcustomerName = #{name} AND customerNumber = #{customerNumber} LIMIT 1
    </select>

    <insert id="create" parameterType="com.insurance.Insurance_spring.domain.customer.Customer">
        INSERT INTO customer ( pcustomerID, address, customerNumber, eMail, job, sex ) values ( #{pcustomerID}, #{address}, #{customerNumber}, #{eMail}, #{job}, #{sex} )
    </insert>
</mapper>