<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insurance.Insurance_spring.mapper.InsuranceMapper">
    <insert id="create" parameterType="com.insurance.Insurance_spring.domain.insurance.Insurance" useGeneratedKeys="true" keyProperty="insuranceID">
        INSERT INTO insurance ( insuranceName, insuranceCost, content, type ) values ( #{insuranceName}, #{insuranceCost}, #{content}, #{type} )
    </insert>
    <insert id="createCoverage" parameterType="com.insurance.Insurance_spring.domain.insurance.Coverage" useGeneratedKeys="true" keyProperty="coverageID">
        INSERT INTO coverage ( insuranceID, coverageCondition, coverageContent, coverageCost ) values ( #{insuranceID}, #{coverageCondition}, #{coverageContent}, #{coverageCost} )
    </insert>
    <insert id="createApprove" parameterType="com.insurance.Insurance_spring.domain.insurance.Approve" useGeneratedKeys="true" keyProperty="approveID">
        INSERT INTO approve ( insuranceID, approved, permissionDate, permissionRefuse, insuranceProblem ) values ( #{insuranceID}, #{approved}, #{permissionDate}, #{permissionRefuse}, #{insuranceProblem} )
    </insert>
    <insert id="createSaleRecord" parameterType="com.insurance.Insurance_spring.domain.insurance.SaleRecord" useGeneratedKeys="true" keyProperty="insuranceID">
        INSERT INTO  salerecord ( insuranceID, goalCnt, saleCnt ) values (#{insuranceID}, #{goalCnt}, #{saleCnt} )
    </insert>

    <select id="retrieve" resultType="com.insurance.Insurance_spring.domain.insurance.Insurance">
        SELECT * FROM insurance
    </select>
    <select id="retrieveNoApprove" resultType="com.insurance.Insurance_spring.domain.insurance.Insurance">
        select * from insurance left outer join approve using(insuranceID) where approve.insuranceID IS NULL
    </select>
    <select id="retrieveByID" resultType="com.insurance.Insurance_spring.domain.insurance.Insurance">
        SELECT * FROM insurance WHERE insuranceID = #{insuranceID} LIMIT 1
    </select>
    <select id="retrieveCoverage" parameterType="HashMap" resultType="com.insurance.Insurance_spring.domain.insurance.Coverage">
        SELECT * FROM coverage WHERE insuranceID = #{insuranceID} AND coverageCondition = #{coverageCondition} LIMIT 1
    </select>
    <select id="retrieveApprove" resultType="com.insurance.Insurance_spring.domain.insurance.Insurance">
        select * from insurance left outer join approve using(insuranceID) where approve.approved = 1
    </select>
    <select id="retrieveSaleRecord" resultType="com.insurance.Insurance_spring.domain.insurance.SaleRecord">
        select * from salerecord where insuranceID=#{insuranceID} limit 1
    </select>

    <update id="updateByID" parameterType="com.insurance.Insurance_spring.domain.insurance.Insurance">
        update pcustomer set insuranceName=#{insuranceName}, insuranceCost=#{insuranceCost}, content=#{content} where insuranceID=#{insuranceID}
    </update>
</mapper>