<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insurance.Insurance_spring.mapper.PCustomerMapper">
    <select id="retrieve" resultType="com.insurance.Insurance_spring.domain.pCustomer.PCustomer">
        SELECT pcustomer.* FROM pcustomer LEFT JOIN customer ON pcustomer.pcustomerID = customer.pcustomerID WHERE customerID IS NULL
    </select>

    <select id="retrieveAll" resultType="com.insurance.Insurance_spring.domain.pCustomer.PCustomer">
        SELECT pcustomer.* FROM pcustomer
    </select>

    <select id="retrieveByID" resultType="com.insurance.Insurance_spring.domain.pCustomer.PCustomer">
        SELECT * FROM pcustomer WHERE pcustomerID = #{pcustomerID} LIMIT 1
    </select>

    <update id="updateByID" parameterType="com.insurance.Insurance_spring.domain.pCustomer.PCustomer">
        update pcustomer set pcustomerName=#{pcustomerName}, phoneNumber=#{phoneNumber}, consultContext=#{consultContext} where pcustomerID=#{pcustomerID}
    </update>
</mapper>