<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>고객 정보 조회 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script>
        function accept( ID ) {
            var form = document.getElementById("form_customer");
            form.customerID.value = ID;
            form.submit();
        }
    </script>
</head>
<body>
<form class="d-none" id="form_customer" action="/reward/accept" method="get">
    <input type="hidden" name="customerID"/>
</form>
<div class="container">
    <div class="row">
        <div class="col-5 mt-3">
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">이름</div>

                <div class="col-8">
                    <p th:text="${customer.pcustomerName}"></p>
                </div>
            </div>
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">주소</div>

                <div class="col-8">
                    <p th:text="${customer.address}"></p>
                </div>
            </div>
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">주민번호</div>

                <div class="col-8">
                    <p th:text="${customer.customerNumber}"></p>
                </div>
            </div>
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">성별</div>

                <div class="col-8">
                    <p th:text="${customer.sex}"></p>
                </div>
            </div>
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">직업</div>

                <div class="col-8">
                    <p th:text="${customer.job}"></p>
                </div>
            </div>

            <hr class="mx-0 my-2">

            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">상담날짜</div>

                <div class="col-8">
                    <p th:text="${customer.acceptedDate}"></p>
                </div>
            </div>
            <div class="row mx-0 my-2">
                <div class="col-4 d-flex justify-content-center font-weight-bold">상담내용</div>

                <div class="col-8">
                    <p th:text="${customer.consultContext}"></p>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row px-2 mt-3">
                <h2>계약 리스트</h2>
                <table class="table">
                    <thead>
                                <tr>
                                    <th>#</th>
                                    <th>계약날짜</th>
<!--                                    <th>보험명</th>-->
                                    <th>납입 보험료</th>
                                    <th>만기일</th>
                                </tr>
                    </thead>
                    <tbody>
                                <tr th:each="contract : ${contractList}">
                                    <td th:text="${contract.contractID}"></td>
                                    <td th:text="${contract.startDate}"></td>
<!--                                    <td th:text="${contract.insurance.insuranceName}"></td>-->
                                    <td th:text="${contract.price}"></td>
                                    <td th:text="${contract.endDate}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-secondary" th:onclick="accept( [[${customer.customerID}]] )">사고접수하기</button>
    </div>
</div>
</body>
</html>