<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2>고객 조회 페이지</h2>
<div class="container">
  <form action="/reward/consult" method="post">
    <div class="form-group">
      <label for="pcustomerName">이름</label>
      <input type="text" id="pcustomerName" name="pcustomerName" placeholder="이름을 입력하세요">
      <label for="customerNumber">주민번호</label>
      <input type="text" id="customerNumber" name="customerNumber" placeholder="주민번호를 입력하세요">

    </div>
    <button type="submit">조회하기</button>
  </form>
</div>
</body>
</html>