<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
<!--    <div>-->
<!--        <h2>고객 DB</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th>-->
<!--                <th>이름</th>-->
<!--                <th>주민번호</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="customer : ${customerList}">-->
<!--                <td th:text="${customer.customerID}"></td>-->
<!--                <td th:text="${customer.customerName}"></td>-->
<!--                <td th:text="${customer.customerNumber}"></td>-->

<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div>-->
<!--        <h2>계약 DB</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th>-->
<!--                <th>계약날짜</th>-->
<!--                <th>보험명</th>-->
<!--                <th>고객명</th>-->

<!--                <th>납입 보험료</th>-->
<!--                <th>만기일</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="contract : ${contractList}">-->
<!--                <td th:text="${contract.contractID}"></td>-->
<!--                <td th:text="${contract.date}"></td>-->
<!--                <td th:text="${contract.insurance}"></td>-->
<!--                <td th:text="${contract.customer}"></td>-->

<!--                <td th:text="${contract.price}"></td>-->

<!--                <td th:text="${contract.endDate}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
    <div>
        <h2>사고 DB</h2>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>사고날짜</th>
                <th>사고시간</th>
                <th>사고장소</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="accident : ${accidentList}">
                <td th:text="${accident.accidentID}"></td>
                <td th:text="${accident.accidentDate}"></td>
                <td th:text="${accident.accidentTime}"></td>
                <td th:text="${accident.accidentPlace}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>