<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<button type="button" style="box-shadow:10px 5px 5px darkgray; background-color: white;position:fixed;left:30px;bottom:30px;z-index:10000; width:60px; height:60px;" onclick="location.href='/'">
    <img style="float:left" src="http://localhost:8080/home4.png">
</button>
<div class="container">

    <div>
        <h2>사고 DB</h2>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>사고날짜</th>
                <th>사고시간</th>
                <th>사고장소</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="accident : ${accidentList}">
                <td th:text="${accident.accidentID}"></td>
                <td th:text="${accident.accidentDate}"></td>
                <td th:text="${accident.accidentTime}"></td>
                <td th:text="${accident.accidentPlace}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>